<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Redis Session Demo</title>
  <link rel="stylesheet" href="/static/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/globals.css">
</head>
<body>

  <div class="container">
    <% flashSuccess.forEach((message) => { %>
    <div class="alert alert-success" role="alert"><%= message %></div>
    <% }); %>
    <% flashError.forEach((message) => { %>
    <div class="alert alert-danger" role="alert"><%= message %></div>
    <% }); %>
  </div>